<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор квадратных уравнений</title>
    <link rel = "stylesheet" href = "../static/css/styles.css">
</head>
<body>
<div class = "form-center">
    <form action="" method="post">
    <b><p style="font-size: 36px" align="center">Введите коэффициенты квадратного уравнения: ax^2 + bx + c</p></b>
    <p align="center"><input name="a" placeholder="a" type = "number"  required> </p>
    <p align="center"><input name="b" placeholder="b" type = "number"  required> </p>
    <p align="center"><input name="c" placeholder="c" type = "number"  required> </p>
    <p align="center"><button type="submit" >Рассчитать корни данного уравнения</button> </p>
    <h1>{{ans}}</h1>
    </form>
</div>
<b><p style="font-size: 36px" align="center">Калькулятор квадратных уравнений</p></b>
</body>
</html>